// #license-pop-up--------------------------------------------------------------
	#license-pop-up{
		*,input,div,img{
			// border:1px dashed red;
		}	
		background-color:#313131;
		display:none;
		height:100%;
		left:0;
		opacity:.95;
		overflow:auto;
		position:fixed;
		top:0;
		width:100%;
		z-index:9999;
		// overflow: hidden;

		#license-pop-up-wrapper {
			background: -moz-linear-gradient(90deg, #02273b 0%, #044c72 55%, #056495 82%, #05699d 100%);
			background: -ms-linear-gradient(90deg, #02273b 0%, #044c72 55%, #056495 82%, #05699d 100%);
			background: -o-linear-gradient(90deg, #02273b 0%, #044c72 55%, #056495 82%, #05699d 100%);
			background: -webkit-linear-gradient(90deg, #02273b 0%, #044c72 55%, #056495 82%, #05699d 100%);
			background: linear-gradient(0deg, #02273b 0%, #044c72 55%, #056495 82%, #05699d 100%);
			border-radius: 26px;
			border:1px solid #0783c5;
			box-sizing: border-box;
			margin:38px auto;
			width:632px;
			z-index:9999;
			padding:53px 60px;
			position:relative;

			.close {
				background-image:url("../img/close.png");
				border:1px solid rgba(0,0,0,0);
				cursor:pointer;
				height:21px;
				position:absolute;
				right:20px;
				top:20px;
				width:21px;
			}
			.close:hover{
				background-image:url("../img/hover-close.png");	
			}
			.license-pop-up-mai-content{
				h1{
					font-family: Arial;
					color: #ff8c10;
					font-size: 33.75px;
					font-weight: 900;
					letter-spacing: 1.688px;
					text-align: center;
					transform: scaleX(1.006); 
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
					margin-bottom:24px;
				}
				p{
					font-family: Arial;
					color: #ffffff;
					font-size: 14px;
					font-weight: 400;
					text-align: center;
					margin-bottom:30px;
				}
				img{
					width:441px;
				}
			}
		}
	}